.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/datasources.xml
/.idea/dataSources.ids
.DS_Store
/build
*.apk
*.ap_
*.dex
*.class
*.o
*.so
bin/
gen/
proguard/
.metadata/
Thumbs.db

